.nav-header {
  padding: 1.5rem 5rem;
  border: solid 1px #e7e7e7;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-icon {
  color: rgb(107, 172, 224);
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item a {
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.icon-container {
  border: solid 1px #e7e7e7;
  border-radius: 50%;
  padding: 5px;
}

.user-icon {
  width: 44px;
  fill: rgb(107, 172, 224);
}
